{% extends 'bare.html' %}
{% load static %}
{% block content %} 
  
  <div class="container d-flex mt-5">

      <!-- Right column -->
      <div class="col-md-3 text-center" id="sidebar-wrapper">
          <div class="sidebar-heading mt-2 mb-2"><h5>Настройки</h5></div>
          <div class="list-group list-group-flush">
            <!-- {% if request.user.groups.all.0|stringformat:"s" == "Managers" %} -->
              <div class="dropdown">
                <a href="#" class="list-group-item list-group-item-action bg-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >Заявки</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/requests/active">Активные заявки</a>
                  <a class="dropdown-item" href="/requests/done">Завершенные заявки</a>
                </div>
              </div>
            <!-- {% endif %} -->
            <div class="dropdown">
              <a href="#" class="list-group-item list-group-item-action bg-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >Проекты</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/projects/active/">Мои проекты</a>
                <a class="dropdown-item" href="/projects/done/">Завершенные проекты</a>
              </div>
            </div>
          </div>
      </div>

      <!-- Description -->
      <div class="container-fluid">
        <h2 class="mb-2">{{empl.name}} {{empl.surname}}</h2><hr>
        <h5 class="text-muted font-weight-light">{{empl.department}} - {{empl.position}}</h5>
        <hr>
        <h4>Почта:</h4> 
        <p>{{empl.email}}</p>
        <h5>Номер:</h5> 
        <p>{{empl.phone}}</p>
        <h5>Дата регистрации:</h5>
        <p>{{empl.reg_date}}</p>
      </div>

  </div>

{% endblock %}