{% extends 'bare.html' %}
{% load static %}
{% block content %}

<div class="container d-flex mt-5">

    <!-- Right column -->
      <div class="col-md-3 text-center" id="sidebar-wrapper">
          <div class="sidebar-heading mt-2 mb-2"><h5>Настройки</h5></div>
          <div class="list-group list-group-flush">
            <!-- {% if request.user.groups.all.0|stringformat:"s" == "Managers" %} -->
              <div class="dropdown">
                <a href="#" class="list-group-item list-group-item-action bg-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >Заявки</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/requests/active">Активные заявки</a>
                  <a class="dropdown-item" href="/requests/done">Завершенные заявки</a>
                </div>
              </div>
            <!-- {% endif %} -->
            <div class="dropdown">
              <a href="#" class="list-group-item list-group-item-action bg-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" >Проекты</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/projects/active/">Мои проекты</a>
                <a class="dropdown-item" href="/projects/done/">Завершенные проекты</a>
              </div>
            </div>
          </div>
      </div>

    <!-- Forms -->
    <form class="needs-validation" action="/requests/settings/{{context.deal_id}}/" method="post" novalidate>
        {% csrf_token %}
        <!-- Name, Surname, Username -->
        <div class="form-row">
            <div class="col-md-8 mb-3 mt-5">
                <h4> Заказчик: <a class="text-muted">{{context.email}}</a></h4>
            </div>
            <div class="col-md-3 mb-3  mt-5">
                <h4> ID заявки: <a class="text-muted">{{context.request_id}}</a></h4>
            </div>
        </div>

        <!-- Email -->
        <div class="form-group">
            <h4>Услуга: <a class="text-muted">{{context.name}}</a></h4>
        </div>

        <!-- Phone -->
        <div class="form-group">
            {% if context.status == 'done'%}
                <h4> Статус: <a class="text-muted">{{context.status}}</a></h4>
            {% else %}
                <label for="exampleFormControlSelect1" required>
                    <h5>Статус</h5>
                </label>            
                <select name="status" class="form-control form-control-sm">
                    <option selected>inprocess</option>
                    <option>postponed</option>
                    <option>done</option>
                    <option>crashed</option>
                </select>
            {% endif %}
        </div>

        <!-- Employee -->
        <div class="form-group">
            {% if context.status == 'done'%}
                <h4> Сотрудник: <a class="text-muted">{{emp_active.username}}</a></h4>
            {% else %}
                <label for="exampleFormControlSelect1" required>
                    <h5>Сотрудник</h5>
                </label>
                <select name="employee" class="form-control form-control-sm">
                    {% for x in empl %}
                    <option>{{x.username}}</option>
                    {%endfor%}
                </select>
            {% endif %}
        </div>

        <!-- Gender -->
        <div class="form-group">
            {% if context.status == 'done'%}
                <h4> Описание: <a class="text-muted">{{context.description}}</a></h4>
            {% else %}
                <label for="validationTextarea"><h4>Описание</h4></label>
                <textarea class="form-control " id="validationTextarea" placeholder="Напишите комментарии и заметки к заказу" name="description"></textarea>
            {% endif %}
        </div>

        <!-- Gender -->
        <div class="form-group">
            {% if context.status == 'done'%}
                <h4> Цена: <a class="text-muted">{{context.price}}</a></h4>
            {% else %}
                <label for="exampleFormControlSelect1" required>
                    <h5>Цена</h5>
                    <input type="text" class="form-control" id="validationCustom02" name="price" placeholder="Сумма грн">
                </label>
            {% endif %}
        </div>

        <!-- Birthday -->
        <div class="form-group mt-3">
            {% if context.status == 'done'%}
                <h4> Дэдлайн: <a class="text-muted">{{context.final_date}}</a></h4>
            {% else %}
                <label for="exampleFormControlSelect1">
                    <h5>Дэдлайн</h5>
                </label>
                <div class="form-row">
                    <div class="col-4">
                        <input type="text" id="day" class="form-control" placeholder="День" name="day" value="{{day}}">
                    </div>
                    <div class="col-4">
                        <input type="text" id="month" class="form-control" placeholder="Месяц" name="month" value="{{month}}">
                    </div>
                    <div class="col">
                        <input type="text" id="year" class="form-control" placeholder="Год" name="year" value="{{year}}">
                    </div>
                </div>
            {% endif %}

            {% if context.status != 'done'%}
                <!-- Submitting -->
                <div class="form-group mt-5">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            {% endif %}
        </div>
            
    </form>

    <!-- validation Script -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</div>

{% endblock %}