{% extends 'bare.html' %}
{% load static %}
{% block content %}	
  
  <div class="container d-flex mt-5">

      <!-- Right column -->
      <div class="col-md-3 text-center" id="sidebar-wrapper">
          <div class="sidebar-heading mt-2 mb-2"><h5>Настройки</h5></div>
          <div class="list-group list-group-flush">
            <a href="/profile" class="list-group-item list-group-item-action bg-light">Профиль</a>
            <a href="/profile/orders" class="list-group-item list-group-item-action bg-light">Мои заказы</a>
            <a href="/basket" class="list-group-item list-group-item-action bg-light">Корзина</a>
            <a href="/profile/settings" class="list-group-item list-group-item-action bg-light">Найстройка</a>
            <a href="/" class="list-group-item list-group-item-action bg-light">Выйти</a>
          </div>
      </div>

      <!-- Description -->
      <div class="container-fluid">
        <h2 class="mb-2">{{user.name}} {{user.surname}}</h2><hr> 
        <p>Пол: <a class="text-muted">{{user.gender}}</a></p>
        <p>День рождения: <a class="text-muted">{{user.birthday}}</a></p>
        <p>Почта: <a class="text-muted">{{user.email}}</a></p>
        <p>Город: <a class="text-muted">Украина, Одесса</a></p>
        <p>Номер телефона: <a class="text-muted">{{user.phone}}</a></p>
        <p>Дата регистрации: <a class="text-muted">{{user.reg_date}}</a></p>
      </div>

  </div>

{% endblock %}


