{% extends 'bare.html' %}
{% load static %}
{% block content %}

<div class="container d-flex mt-5">

    <!-- Right column -->
    <div class="col-md-3 text-center" id="sidebar-wrapper">
        <div class="sidebar-heading mt-2 mb-2">
            <h5>Настройки</h5>
        </div>
        <div class="list-group list-group-flush">
            <a href="/profile" class="list-group-item list-group-item-action bg-light">Профиль</a>
            <a href="/profile/orders" class="list-group-item list-group-item-action bg-light">Мои заказы</a>
            <a href="/profile/settings" class="list-group-item list-group-item-action bg-light">Найстройка</a>
            <a href="/logout/" class="list-group-item list-group-item-action bg-light">Выйти</a>
        </div>
    </div>

    <!-- Forms -->
    <form class="needs-validation" action="/profile/settings/" method="post" novalidate>
        {% csrf_token %}
        <!-- Name, Surname, Username -->
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">
                    <h5>Имя</h5>
                </label>
                <input type="text" class="form-control" id="validationCustom01" name="name" placeholder="Имя" value="{{ user.name }}">
                <div class="valid-feedback">Отлично!</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">
                    <h5>Фамилия</h5>
                </label>
                <input type="text" class="form-control" id="validationCustom02" name="surname" placeholder="Фамилия" value="{{ user.surname }}">
                <div class="valid-feedback">Отлично!</div>
            </div>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="exampleFormControlInput1">
                <h5>Почта</h5>
            </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="email@gmail.com" value="{{ user.email }}">
        </div>

        <!-- Phone -->
        <div class="form-group">
            <label for="exampleFormControlInput1">
                <h5>Номер телефона</h5>
            </label>
            <input type="phone" class="form-control" id="exampleFormControlInput1" name="phone" placeholder="Номер телефона" value="{{ user.phone }}">
        </div>

        <!-- Gender -->
        <div class="form-group">
            <label for="exampleFormControlSelect1" required>
                <h5>Пол</h5>
            </label>
            <select name="gender" class="form-control form-control-sm">
                <option {% if user.gender == "Мужской"%}selected{% endif %}>Мужской</option>
                <option {% if user.gender == "Мужской"%}selected{% endif %}>Женский</option>
            </select>
        </div>

        <!-- Birthday -->
        <div class="form-group mt-3">
            <label for="exampleFormControlSelect1">
                <h5>Дата рождения</h5>
            </label>
            <div class="form-row">
                <div class="col-4">
                    <input type="text" id="day" class="form-control" placeholder="День" name="day" value="{{day}}">
                </div>
                <div class="col-4">
                    <input type="text" id="month" class="form-control" placeholder="Месяц" name="month" value="{{month}}">
                </div>
                <div class="col">
                    <input type="text" id="year" class="form-control" placeholder="Год" name="year" value="{{year}}">
                </div>
            </div>

            <!-- Submitting -->
            <div class="form-group mt-5">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Согласен с <a href="/conditions">условиями</a>
                    </label>
                    <div class="invalid-feedback">
                        Вы должны согласиться перед сохранением.
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>

    <!-- validation Script -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</div>

{% endblock %}