{% extends 'bare.html' %}
{% load static %}
{% block content %}	
	<!-- Custom styles for this template -->
	<link href="{% static 'website/css/sign.css' %}" rel="stylesheet">
	
	<div class="container">
	    <div class="row">
	      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
	        <div class="card card-signin flex-row my-5">
	          <div class="card-img-left d-none d-md-flex">
	             <!-- Background image for card set in CSS! -->
	          </div>
	          
	        <div class="card-body">

	            <h5 class="card-title text-center font-weight-bold">Регистрация пользователя</h5>
	            <form class="form-signin" method="post">
				  {% csrf_token %}
				  <!-- Username -->
	              <div class="form-label-group">
					<input type="text"
							name="username" 
							maxlength="30" 
							autofocus 
							id="id_username" 
							class="form-control" required>
					<label for="id_username">Имя пользователя:</label>
	              </div>
				  <!-- Email -->
	              <div class="form-label-group">
					
					<input type="email" 
							name="email" 
							maxlength="40" 
							id="id_username"
							pattern = "^[a-zA-Z0-9.!#$%&'*+=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
							class="form-control" required autofocus >
							<label for="id_username">Почта:</label>
	              </div>
	              <!-- same emails = error-->
				  <hr>
				  <!-- Password-->
	              <div class="form-label-group">
	                <input type="password" 
							name="password1" 
							id="id_password1"
							maxlength="30" 
							class="form-control" required>
	                <label for="id_password1">Пароль:</label>
	              </div>
	              <!-- Confirm password -->
	              <div class="form-label-group">
	                <input type="password" 
							name="password2"
							id="id_password2"
							maxlength="30"
							class="form-control" required>
	                <label for="id_password2">Подтверждение пароля:</label>
					<span class="helptext" id="pw-match">
						
					</span>
	              </div>

	              <span class="helptext">
						<ul class = "text-muted">
							<li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</li>
							<li>Ваш пароль должен содержать как минимум 8 символов.</li>
							<li>Ваш пароль не может быть одним из широко распространённых паролей.</li>
							<li>Ваш пароль не может состоять только из цифр.</li>
						</ul>
					</span>

	              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Зарегистрироваться</button>
	              <a class="d-block text-center mt-2 text-muted small" href="/sign_in">Войти</a>

	            </form>

				<script>
					// Example starter JavaScript for disabling form submissions if there are invalid fields
					(function() {
					  'use strict';
					  window.addEventListener('load', function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document.getElementsByClassName('form-signin');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms, function(form) {
						  form.addEventListener('submit', function(event) {
							if (form.checkValidity() === false) {
							  event.preventDefault();
							  event.stopPropagation();
							}
							form.classList.add('was-validated');
						  }, false);
						});
					  }, false);
					})();

					function PasswordCheck() {
						var pw1 = document.getElementById('id_password1');
						var pw2 = document.getElementById('id_password2');
						passwordsEqual = (pw1 == pw2);
						if (passwordsEqual) {
							txt = "Пароли не совпадают";
							document.getElementById("pw-match").innerHTML = txt;
						}
                  	}

					window.onload = function myFunction() {
						var txt = '<div class="valid-feedback">Отлично!</div>\
						<div class="invalid-feedback">Нужно заполнить правильно</div>';

						var classes = ["form-label-group"];
						for (j = 0; j < classes.length; j++) {
							var elements = document.getElementsByClassName(classes[j]);
							for (i = 0; i < elements.length; i++) {
								elements[i].innerHTML = elements[i].innerHTML + txt;
							}
						}
					}
				</script>

	        </div>
	        </div>
	      </div>
	    </div>
	</div>
	

{% endblock %}