html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.content {
  flex: 1 0 auto;
}

#sticky-footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  flex-shrink: 0;
}

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}
