{% extends 'bare.html' %}
{% load static %}
{% block content %}	
  
  <div class="container mt-5">
    <h2>Правила использования</h2><hr>
    <div class="mt-3">
      <h4>Если ты пришел купить</h4>
      <p>1. Уважаем других! Не стоит писать злосстные комментарии, коль в душе дыра.</p>
      <p>2. Не жалуемся на продавцов без причины.</p>
      <p>3. Вы ожидали увидеть большего? Вы просто выбираете то, что вам необходимо. Менеджеры свяжутся с вами в кратчайшие сроки! Вы сможете оговорить с ними все детали.</p>
    </div> 
    <div class="mt-3">
      <h4>Если ты хочешь продавать</h4>
      <p>1. Тебе необходимо потвердить свою персону по скайпу, для того чтоб тебя допустили к размещению товаров.</p>
      <p>2. Чем лучше ты опишешь свою компанию, тем больше к тебе будут обращатсья!</p>
      <p>3. Загружай качественные картинки: иконка - 200*200, основная - 1280*400.</p>
      <p>4. Вкратце опиши почему товар хорош!</p>
    </div>

  </div>

{% endblock %}