{% extends 'bare.html' %}
{% load static %}
{% block content %} 

	<div class="container">
		<div class="row mt-5">



			<!-- Subscription -->
			<section class="all-contact col-5 text-right ">
				<div class="content padd">
					<div class="wrapper clearfix text-muted">
						<div class="wrap-content">
							<div class="first">
							 <h1 class="font-weight-light">Мы находимся</h1>
							 <p class='h4 font-weight-light'>г. Одесса, Украина <br>ул. Дворянская, 2</p>
							</div>
						</div>
						<div class="wrap-content mt-5">
							<div class="second">
							    <h1 class="font-weight-light">Наши контакты</h1>
							    <p class='h4 font-weight-light'>(048) 723 5254<br>(048) 268-18-58<br>vstup@onu.edu.ua</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="map mx-4 col-5">
			    <div class="map-content"><a href="https://goo.gl/maps/TuXwriPqDeL2" target="_blank" class="wrap"></a>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.0387574055935!2d30.728863415555605!3d46.48754497912632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c631be211398ad%3A0x9d7ef9f3024cc76d!2sOdessa%20I.I.Mechnikov%20National%20University!5e0!3m2!1sen!2sua!4v1574888135126!5m2!1sen!2sua" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
				</div>
		    </section>
			




		</div>
	</div>

{% endblock %}