{% extends 'bare.html' %}
{% load static %}
{% block content %} 
	
	<div class="container">

	    <!-- Page Heading/Breadcrumbs -->
	    <h1 class="mt-4 mb-4 font-weight-light">Портфолио</h1>

	    <!-- Project Four -->
	    <div class="row mb-3">

	      <div class="col-md-7">
	          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/portfolio_images/4.jpg' %}" alt="">
	      </div>
	      <div class="col-md-5">
	        <h3>Обер Хлiб</h3>
	        <p>У 2005 році підприємець Станіславський Богдан Миколайович створив на теренах Обертина міні-пекарню. З року в рік підприємство завдяки якості, оригінальності, традиційності випічки нарощувало обсяги виробництва продукції. В пекарні є хлібобулочний і кондитерський цех, а також запущено лінію по виробництву пісочного, бісквітного і вівсяного печива.	На даний момент в асортименті підприємства налічується понад 50 найменувань хлібобулочних виробів, 30 видів кондитерських виробів.</p>
	      </div>
	    </div>
	    <!-- /.row -->	


	    <!-- Project Two -->
	    <div class="row">
	      <div class="col-md-7">
	          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/portfolio_images/2.jpg' %}" alt="">
	      </div>
	      <div class="col-md-5">
	        <h3>IDEA</h3>
	        <p>Idea Marketing Group предлагает отмеченные наградами услуги веб-дизайна, веб-разработки и цифрового маркетинга клиентам по всему миру. Мы не ограничиваемся собственным веб-дизайном, чтобы создавать веб-сайты, которые помогут вам достичь целей компании, расширить аудиторию и расширить свой бренд.</p>	      
	      </div>
	    </div>
	    <!-- /.row -->

	    <hr>

	    <!-- Project Three -->
	    <div class="row">
	      <div class="col-md-7">
	          <img class="img-fluid rounded mb-3 mb-md-0" src="{% static 'website/portfolio_images/3.jpg' %}" alt="">
	      </div>
	      <div class="col-md-5">
	        <h3>Tymbark</h3>
	        <p>Tymbark SA, польская продовольственная компания, является производителем соков и напитков. Тимбарк - завод по переработке фруктов и овощей. Тымбарк является крупным производителем фруктовых и овощных соков, а также джемов, мармеладов и фруктовых вин. В 1999 году компания стала частью группы Maspex Wadowice.</p>
	      </div>
	    </div>
	    <!-- /.row -->

	    <hr>

  </div>

{% endblock %}