{% extends 'bare.html' %}
{% load static %}
{% block content %}	
	 
   <div class="container">
    {% for card in cards %}
      <div class="mt-4">
        <img class="d-block img-fluid" src="{{card.picture}}" style="width: 50%; height: 50%;">
      </div>

      <!-- Description -->
      
      <div class="card-body">
            <h3 class="card-title">{{card.name}}</h3>
            <h4>от {{card.price}} грн</h4>
            <p class="card-text">{{card.description}}</p>
            <div class="mt-4 mb-4">        
              {%if request.user.is_authenticated %}
                <a class="btn btn-danger btn-lg" href="/confirm/{{card.id}}" >Заказать</a>
              {% else %}
                <a class="btn btn-danger btn-lg" href="/sign_in">Заказать</a>
              {%endif%}
            </div>
      </div>
      {%endfor%}
    </div>

{% endblock %}